[Unit]
Description=MQTTscripts

[Install]
WantedBy=multi-user.target

[Service]
TimeoutStartSec=60
ExecStartPre=-/opt/mqttScripts/data/update.sh update
ExecStart=/opt/mqttScripts/data/update.sh run-service
TimeoutStopSec=35s
Restart=always
Type=idle
WorkingDirectory=/opt/mqttScripts/config