[Unit]
Description=MQTTscripts

[Install]
WantedBy=multi-user.target

[Service]
TimeoutStartSec=60
ExecStartPre=-/opt/mqttScripts/data/update.sh update
ExecStart=/opt/mqttScripts/venv/bin/python3 /opt/mqttScripts/data/Launcher.py --systemd --config /opt/mqttScripts/config/mqttra.config
TimeoutStopSec=35s
Restart=always
Type=idle
WorkingDirectory=/opt/mqttScripts/config
