[Unit]
Description=MQTT Raspberry Provider

[Service]
TimeoutStartSec=0
ExecStartPre=/home/pi/progs/mqttRaspberry/update.sh
ExecStart=/home/pi/progs/mqttRaspberry/Launcher.py --systemd --config /home/pi/.config/mqttra.config
TimeoutStopSec=10s
Restart=always
Type=idle
User=pi
WorkingDirectory=/home/pi/progs/mqttRaspberry/

[Install]
WantedBy=multi-user.target

