[Unit]
Description=MQTTscripts

[Service]
TimeoutStartSec=0
ExecStartPre=/opt/mqttScripts/data/update.sh update
ExecStart=/opt/mqttScripts/data/update.sh run-service
TimeoutStopSec=10s
Restart=always
Type=idle
User=%i
WorkingDirectory=/opt/mqttScripts/config

[Install]
WantedBy=multi-user.target

