[Unit]
Description=mqttScript: Zustände vor / nach Suspend
Before=sleep.target
Wants=sleep.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/timeout -f --signal=SIGUSR1 -p 2s /opt/mqttScripts/data/resources/mqttScrips-sleep-wait.sh
ExecStop=/usr/bin/timeout -f --signal=SIGUSR1 -p 2s /opt/mqttScripts/data/resources/mqttScrips-sleep-wait.sh
TimeoutStartSec=6
TimeoutStopSec=6

[Install]
WantedBy=sleep.target